<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Aplicación de prueba</strong>
    <p>Esta aplicación ha sido creada para probar distintas funcionalidades</p>
    <p>Una de ellas es el inicio de sesión</p>
    <ion-button   routerLink="/login">
      Ir a inicio de sesión
    </ion-button>
  </div>
</ion-content>
